*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#grid{
	height: 500px;
	width: 500px;
	margin: 0 auto;
	position: relative;
	top: 200px;

	display: grid;
}

.gridElement{
	border: 1px solid black;
}

.center{
	text-align: center;
	position: relative;
	top: 50px;
}

button {
	margin: 10px;
}